NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_BASE_URL=https://mmart4u.com
NEXT_PUBLIC_UPI_ID=
NEXT_PUBLIC_DEEP_LINK_SCHEME=mmart
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
ADMIN_EMAIL=
